 <div class="header-container flexrow">
    <div class="input-name-container" data-tooltip="Profile Name">
        {{formInput nameField}}
    </div>
    <a class="add-button fa-solid fa-square-plus" data-action="addResource"
        data-tooltip="Add New Resource">
    </a>
</div>